Eveo7/bin/
Eveo7.NancyApi/bin/
Eveo7.Data/bin/
Eveo7.Models/bin/
Eveo7.Services/bin/
/Eveo7.NancyApi/bin/
/Eveo7.Data/bin/
/Eveo7.Models/bin/
/Eveo7.Services/bin/
/Eveo7.Models/obj/Debug
/Eveo7.Services/obj/Debug
/Eveo7.Data/obj/Debug
/Eveo7.NancyApi/connectionStrings.config
/Eveo7.NancyApi/Settings.config