<?xml version="1.0" encoding="utf-8"?>

<!--
Example config file for adding Connection strings to the API.
Add your connection string(s) below and rename this file as 'connectionStrings.config'
DO NOT commit your real connectionStrings.config file.
-->

<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=.\SQLExpress;Initial Catalog=xxx;Integrated Security=True;" providerName="System.Data.SqlClient" />
</connectionStrings>